body, html{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.group-btn{
    position: absolute; /* Đặt nhóm nút ở vị trí tuyệt đối */
    top: 36vh;
    right: 2vh;
    z-index: 10;    /* Đảm bảo nhóm nút nằm trên các phần tử khác */
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.group-btn button {
    background-color: #ffcfaf3a; /* Xóa nền của nút */
    border-color: #cc5e2b;
    padding: 0;
    cursor: pointer;
    border-radius: 10vh;
    transition: transform 0.2s;
    width: 6vh;
    height: 6vh;
    opacity: 0.7;
}

.group-btn button img {
    width: 5.65vh; /* Kích thước hình ảnh trong nút */
    height: auto;
}

.group-btn button:hover {
    transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);
}

.container{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 50vh;
    position: relative;
    border: 0.1vh solid #ccc; /* Thêm đường viền để dễ nhận biết */
}

.canvas, .menu, .item{
    box-sizing: border-box;
}

.canvas{  
    border-color: #cc4100;
    width: 50vh;
    height: 50vh;
}

#character-canvas{
    width: 100%;
    height: 100%;
}

.menu{
    border: 0.05vh solid #ffdccb; 
    border-color: #dddddd;
    width: 6vh;
    height: 58vh;
    display: flex;
}

#category-menu{
    width: 50vh;
    height: 13.5vh;
    overflow-x: hidden; 
    overflow-y: auto; 
    border: 0.05vh solid #ddd;
    padding-top: 0.4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3vh;
}

.item{
    background-color: #ffffff59;
    width: 50vh; /* Chiều rộng của menu quần áo */
    height: 36vh;
}

#category-menu button{
    width: 12vh;
    height: 5.7vh;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
    border-color: #ff8a549f;
    border-radius: 1.5vh;
    transition: transform 0.2s;
}

#category-menu button img{
    position: absolute;
    width: 12.5vh;
    height: 5.7vh;
    object-fit: contain;
    top: -0.3vh;
    right: -0.3vh;
}

#category-menu button:active{
    transform: scale(0.95);
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);
}

#category-menu button:hover {
    background-color:rgba(255, 145, 0, 0.308); /* Màu nền khi di chuột qua */
    border-color: rgba(0, 0, 0, 0.5);
    color: #333;
    transform: scale(1.05); /* Hiệu ứng phóng to khi hover */
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);
}

#clothing-menu{
    width: 50vh; /* Chiều rộng của menu quần áo */
    height: 36vh;
    overflow-x: hidden; /* Cho phép cuộn ngang */
    overflow-y: auto; /* Ẩn cuộn dọc */
    border: 0.05vh solid #ddd; /* Viền xám nhạt */
    padding: 0.3vh; /* Khoảng cách từ viền vào nội dung */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

.clothing-item{
    width: 11.7vh;
    height: 11.7vh;
    cursor: pointer;
    margin: 0.2vh;
    border: 0.1vh solid #ddd;
    transition: border-color 0.3s ease;
}

.clothing-item:hover{
    border: 0.1vh solid #ddd;
    border-color: rgb(255, 145, 0);
}

#background-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden{
    display: none;
}

/* @media (min-width: 768px) {
    .container {
        height: 100vh;
        width: 58vh;
    }
    .group-btn{
        top: 36vh;
        right: 2vh;
    }
    .canvas{
        width: 58vh;
        height: 58vh;
    }
    #category-menu{
        width: 58vh;
        height: 13.5vh;
    }
    .item{
        width: 58vh;
        height: 36vh;
    }
    #category-menu button{
        width: 12vh;
        height: 5.7vh;
    }
    #category-menu button img{
        width: 12.5vh;
        height: 5.7vh;
        top: -0.3vh;
        right: -0.3vh;
    }
    #clothing-menu{
        width: 50vh;
        height: 36vh;
    }
    .clothing-item{
        width: 11.7vh;
        height: 11.7vh;
    }
} */
